<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a class="navbar-brand">JMAD</a>
    <form>
        <label for="jmad-instrument">Instrument</label>
        <input type="text" class="form-control" id="jmad-instrument" name="instrument" placeholder="i.e. trumpet" />
        <label for="jmad-artist">Artist</label>
        <input type="text" class="form-control" id="jmad-artist" name="artist" placeholder="i.e. Davis" />
        <button type="submit">Search JMAD</button>
    </form>

    {% for solo in solos %}
        <div class="jmad-search-result">
             <a href="{{ solo.get_absolute_url }}">
                 {{ solo.track }}: {{ solo.artist }} on {{ solo.instrument }}
             </a>
        </div>
    {% endfor %}
</body>
</html>